* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    height: 100vh;
    width: 100vw;
    font-family: 'PT Sans', sans-serif;
}
body {
    margin: auto;
    text-align: center;
    background-color: whitesmoke;
}
button {
    outline: none;
    color: inherit;
}
.container {
    width: 100%;
    position: relative;
}

/* H E A D E R */
header {
    width: 100%;
    height: 9vh;
    overflow: hidden;
    position: relative;
}
#appTitle {
    float: left;
    font-size: 3.5vh;
    padding: 3vh 2vh 3vh 3vh;
    font-weight: bold;
}
#switchContainer {
    width: 80px;
    padding-top: 3vh;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.switch {
    float: right;
    position: relative;
    width: 50px;
    height: 28px;
} 
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
} 
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
} 
.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
} 
input:checked + .slider {
    background-color: #2196F3;
} 
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}  
input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}
.slider.round {
    border-radius: 28px;
} 
.slider.round:before {
    border-radius: 50%;
}

/* N A V I G A T I O N */
#navigation {
    overflow: hidden;
    margin: 0 3vw;
    max-height: 7vh;
    border-bottom: darkgray 1px solid;
}
.navButton {
    background-color: inherit;
    border: none;
    font-size: 3.5vw;
    padding: 10px 0;    
}
#navAlarm {
    color: teal;
    border-bottom: teal 1px solid;
    font-weight: bold;
}
#navStopwatch {
    width: 28vw;
}
#navTimer {
    width: 17vw;
}
#navAlarm {
    width: 19vw;
}
#navDuration {
    width: 25vw;
}


/* A L A R M */
#addAlarm {
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    background-color: teal;
    color: whitesmoke;
    width: 55px;
    height: 55px;
    font-size: 250%;
    font-weight: normal;
    vertical-align: middle;
    border-radius: 100%;
    right: 15px;
    bottom: 15px;
    box-shadow: none;
}
#newAlarm {
    padding: 20%;
}


/* D U R A T I O N */


/* S T O P W A T C H */
#stopwatchCounters {
    padding-top: 33vh;
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#stopwatchCounter {
    color: rgba(0, 128, 128, 0.5);
    font-size: 6vh;
}
#stopwatchLapCounter {
    padding: 1vh;
    font-size: 3vh;
}
#lapTimes {
    margin: 0 auto;
    padding: 2vh;
    font-size: 2vh;
    width: 75vw;
    border-top: darkgray 1px solid;
    max-height: 31vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.spanCenter {
    padding: 0 20px;
}


/* T I M E R */
#tickingTimers {
    text-align: center;
}
.rotatingTimer {
    display: inline;
    margin: 0 20px;
}
#timerInputs {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding: 10px 50px;
}
.pickerContainer {
    padding-top: 20vh;
    width: 20vw;
}
.pickerContainer span {
    display: inline-block;
    margin-bottom: 1vh;
}
.pickerButton {
    width: 75%;
    height: 30px;
    margin: auto;
    height: 6vh;
    font-size: 3vh;
}
.pickerInput {
    width: 75%;
    padding: 10px 0;
    text-align: center;
    font-size: 3vh;
    margin: 2px auto;
    -webkit-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
#spinnerContainer {
    padding-top: 10vh;
    margin: 0 auto;
    text-align: center;
}
#tickingTimers {
    color: teal;
    font-size: 6vh;
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-color: inherit;
}
#centerMask {
    position: absolute;
    left: 30px;
    top: 30px;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background-color: inherit;
    margin: 0 auto;
    text-align: center;
    padding-top: 95px;
    z-index: 75;
}
#rightHalf, #rightMask {
    position: absolute;
    left: 150px;;
    top: 25px;
    height: 250px;
    width: 125px;
    border-radius: 0 125px 125px 0;
    border: inherit 1px solid;
    border-left: none;
}
#leftHalf, #leftMask {
    position: absolute;
    left: 25px;;
    top: 25px;
    height: 250px;
    width: 125px;
    border-radius: 125px 0 0 125px;
    border: inherit 1px solid;
    border-right: none;
}
#rightHalf, #leftHalf {
    background-color: teal;
    /* background-image: linear-gradient(teal, darkgray); */
}
#rightMask, #leftMask {
    background-color: inherit;
    border: inherit 1px solid;
}

/* F O O T E R */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 9vh;
    margin: 0 3vh;
    width: 94vw;
    text-align: center;
    border-top: darkgray 1px solid;
}
.footer button {
    height: 100%;
    width: 49%;
    background-color: inherit;
    font-size: 2.5vh;
    font-weight: bold;
    border: none;
}


/* M E D I A   Q U E R I E S */
@media only screen and (min-width: 601px) {
    body {
        width: 600px;
        border: 1px black solid;
    }
    #navigation {
        width: 93%;
        margin: 0 3%;
    }
    #navStopwatch, #navTimer, #navAlarm, #navDuration {
        width: 23%;
    }
    /* F O O T E R */
    .footer {
        position: fixed;           /* (50% - 300px) */
        bottom: 0;
        height: 9vh;
        text-align: center;
        margin: 0 3%;
        border-top: none;
    }
    .footer button {
        height: 100%;
        width: 24%;
        background-color: inherit;
        font-size: 2.5vh;
        font-weight: bold;
        border: none;
        margin: 0 1%;
        border-top: darkgray 1px solid;
    }
}